body, html {
  margin: 0;
  padding: 0; }

.container-main {
  background-color: #887590;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container-content {
  margin: 20px 75px 0 75px;
  padding: 10px;
  border-left: 5px solid #3b0f40;
  border-right: 5px solid #3b0f40;
  flex: 1;
  display: flex;
  flex-direction: column; }
  @media all and (max-width: 1120px) {
    .container-content {
      width: 85%;
      margin: 30px auto 0 auto; } }

p {
  font-family: "Orbitron", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Text Me One", sans-serif;
  margin: 0; }

button, a {
  font-family: "Jura", sans-serif;
  font-weight: bold; }

body, html {
  margin: 0;
  padding: 0; }

.container-main {
  background-color: #887590;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container-content {
  margin: 20px 75px 0 75px;
  padding: 10px;
  border-left: 5px solid #3b0f40;
  border-right: 5px solid #3b0f40;
  flex: 1;
  display: flex;
  flex-direction: column; }
  @media all and (max-width: 1120px) {
    .container-content {
      width: 85%;
      margin: 30px auto 0 auto; } }

p {
  font-family: "Orbitron", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Text Me One", sans-serif;
  margin: 0; }

button, a {
  font-family: "Jura", sans-serif;
  font-weight: bold; }

.container-header {
  width: 100%;
  height: 100px;
  background: #7d4290 linear-gradient(180deg, transparent 50%, #887590 50%, #887590 60%, transparent 60%);
  border-bottom: 5px solid #3b0f40;
  box-shadow: 0 30px 0 0 #887590;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .container-header .logo-container {
    margin: 10px 20px 10px 10px;
    height: 80px;
    border: 5px solid #3b0f40;
    padding: 15px;
    position: relative; }
    .container-header .logo-container .logo-img, .container-header .logo-container .logo-text {
      vertical-align: top;
      display: inline-block;
      height: 85px; }
    .container-header .logo-container .logo-img {
      width: 170px;
      background-color: #000; }
    .container-header .logo-container .logo-text {
      box-sizing: border-box;
      padding: 5px 20px;
      background-color: #887590; }
      .container-header .logo-container .logo-text h1 {
        vertical-align: top;
        text-align: center;
        color: #000; }
  .container-header .main-navigation-container {
    margin: 10px 20px 10px 10px;
    height: 80px;
    border: 5px solid #3b0f40;
    padding: 15px; }
    .container-header .main-navigation-container .main-navigation-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;
      vertical-align: middle; }
      .container-header .main-navigation-container .main-navigation-list .main-navigation-list__el {
        display: inline-block; }
        .container-header .main-navigation-container .main-navigation-list .main-navigation-list__el .main-navigation-list__el__link {
          text-decoration: none;
          display: block;
          background-color: #887590;
          border: 2px solid #000;
          color: #000;
          padding: 0 8px;
          margin: 0 5px;
          height: 40px;
          line-height: 40px; }
  .container-header #menu-mobile, .container-header #main-navigation-mobile-open {
    display: none; }
  @media all and (max-width: 1120px) {
    .container-header {
      box-shadow: 0 15px 0 0 #887590; }
      .container-header .logo-container {
        margin: 5px auto;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 88%;
        height: 120px; }
        .container-header .logo-container .logo-img, .container-header .logo-container .logo-text {
          height: 50px;
          margin: 2px auto; }
        .container-header .logo-container .logo-img {
          display: block;
          width: 100px; }
        .container-header .logo-container .logo-text {
          display: block;
          padding: 2px; }
          .container-header .logo-container .logo-text h1 {
            font-size: 1.4em;
            font-weight: bold; }
      .container-header .main-navigation-container {
        display: none; }
      .container-header #main-navigation-mobile-open {
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
        border: 2px solid #FFF;
        border-radius: 5px;
        color: #FFF;
        background-color: #7d4290;
        padding: 5px; }
      .container-header .main-navigation-container--mobile {
        position: fixed;
        right: 0;
        height: 100%;
        width: 60%;
        padding-top: 10px;
        background-color: #3b0f40;
        border-left: 2px solid #000; }
        .container-header .main-navigation-container--mobile #main-navigation-mobile-close {
          text-align: center;
          display: block;
          color: #FFF; }
        .container-header .main-navigation-container--mobile .main-navigation-list--mobile {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: block; }
          .container-header .main-navigation-container--mobile .main-navigation-list--mobile .main-navigation-list__el--mobile {
            display: block; }
            .container-header .main-navigation-container--mobile .main-navigation-list--mobile .main-navigation-list__el--mobile .main-navigation-list__el__link--mobile {
              text-decoration: none;
              display: block;
              background-color: #887590;
              border: 2px solid #000;
              color: #000;
              padding: 0 8px;
              margin: 0 5px;
              height: 40px;
              line-height: 40px;
              font-family: "Jura", sans-serif; } }

body, html {
  margin: 0;
  padding: 0; }

.container-main {
  background-color: #887590;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container-content {
  margin: 20px 75px 0 75px;
  padding: 10px;
  border-left: 5px solid #3b0f40;
  border-right: 5px solid #3b0f40;
  flex: 1;
  display: flex;
  flex-direction: column; }
  @media all and (max-width: 1120px) {
    .container-content {
      width: 85%;
      margin: 30px auto 0 auto; } }

p {
  font-family: "Orbitron", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Text Me One", sans-serif;
  margin: 0; }

button, a {
  font-family: "Jura", sans-serif;
  font-weight: bold; }

.container-footer {
  width: 100%;
  height: 25px;
  background: #7d4290;
  border-top: 2px solid #3b0f40; }
  .container-footer span {
    padding: 2px;
    display: inline-block;
    font-family: "Orbitron", sans-serif; }

body, html {
  margin: 0;
  padding: 0; }

.container-main {
  background-color: #887590;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container-content {
  margin: 20px 75px 0 75px;
  padding: 10px;
  border-left: 5px solid #3b0f40;
  border-right: 5px solid #3b0f40;
  flex: 1;
  display: flex;
  flex-direction: column; }
  @media all and (max-width: 1120px) {
    .container-content {
      width: 85%;
      margin: 30px auto 0 auto; } }

p {
  font-family: "Orbitron", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Text Me One", sans-serif;
  margin: 0; }

button, a {
  font-family: "Jura", sans-serif;
  font-weight: bold; }

.blog-post-container {
  background-color: #7d4290;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  flex: 1; }
  .blog-post-container p {
    padding: 10px;
    display: block; }
  .blog-post-container h2 {
    background-color: #3b0f40;
    padding: 5px;
    color: #7d4290;
    font-size: 2rem;
    text-align: center; }
  .blog-post-container .blog-post--info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .blog-post-container .blog-post--info span {
      display: inline-block;
      text-align: center;
      margin: 3px;
      padding: 3px 10px;
      border-top: 2px dashed #000;
      font-family: "Text Me One", sans-serif;
      font-weight: bold;
      font-size: 1.2rem; }

body, html {
  margin: 0;
  padding: 0; }

.container-main {
  background-color: #887590;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container-content {
  margin: 20px 75px 0 75px;
  padding: 10px;
  border-left: 5px solid #3b0f40;
  border-right: 5px solid #3b0f40;
  flex: 1;
  display: flex;
  flex-direction: column; }
  @media all and (max-width: 1120px) {
    .container-content {
      width: 85%;
      margin: 30px auto 0 auto; } }

p {
  font-family: "Orbitron", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Text Me One", sans-serif;
  margin: 0; }

button, a {
  font-family: "Jura", sans-serif;
  font-weight: bold; }

.list-blog-post-container .list-blog-post--flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  margin: 0; }
  .list-blog-post-container .list-blog-post--flexbox .list-blog-post--flexbox--onebox {
    flex: 1 0 350px;
    background-color: #7d4290;
    margin: 20px;
    padding: 0;
    text-align: center; }
  .list-blog-post-container .list-blog-post--flexbox .list-blog-post--flexbox--onebox--strap, .list-blog-post-container .list-blog-post--flexbox .list-blog-post--flexbox--onebox--strap__bottom {
    background-color: #3b0f40;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .list-blog-post-container .list-blog-post--flexbox .list-blog-post--flexbox--onebox--strap span, .list-blog-post-container .list-blog-post--flexbox .list-blog-post--flexbox--onebox--strap__bottom span {
      display: inline-block;
      padding: 5px;
      font-family: "Text Me One", sans-serif;
      color: #7d4290;
      font-weight: bold;
      font-size: 1.2rem; }

/*# sourceMappingURL=style.css.map */
