@import "../global";
//TODO: height header change for variable and variable for all thing depends on this, think if possible without destorying design
//TODO:: THREE LIne in linear gradient, think what shadow of purple use
//TODO::svn logo make

.container-header {
  width: 100%;
  height: 100px;
  background: $light-purple linear-gradient(180deg, transparent 50%, $gray-purple 50%, $gray-purple 60%, transparent 60%);
  border-bottom: 5px solid $dark-purple;
  box-shadow: 0 30px 0 0 $gray-purple;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @mixin centerHeader(){
    margin:10px 50px 10px 10px;
    height:80px;
    border: 5px solid $dark-purple;
    padding:15px;


  }

  .logo-container{

    @include centerHeader();

    position:relative;

    .logo-img{
      vertical-align:top  ;
      display:inline-block;
      height: 85px;
      width:180px;
      background-color: #000;



    }
    .logo-text{
      box-sizing: border-box;
      vertical-align:top  ;
      display: inline-block;

      height: 85px;
      padding:5px 20px ;
      //box-sizing: border-box;
      background-color: $gray-purple;
      h1{
        line-height:40%;
        font-size: 2em;
      }
      h2{
        line-height: 30%;
      }
      h1,h2{


        vertical-align: top;
        text-align: center;
        color:#000;


      }
    }

  }

  .main-navigation-container {

    @include centerHeader();

    @media all and (max-width: 750px) {
     display:none;
    }




    .main-navigation-list {

      list-style-type: none;
      margin:0;
      padding: 0;
      display:block;
      vertical-align: middle;




      .main-navigation-list__el {
        display:inline-block;



        .main-navigation-list__el__link {
          text-decoration: none;
          display:block;
          background-color: $gray-purple;
          border: 2px solid black;
          color:white;
          padding:0 8px;
          margin:0 5px;
          height: 40px;
          line-height: 40px;




        }
      }
    }
  }
}