@import "../global";

.blog-post-container {


  p{
   padding:10px;
  }
  h1,h2{


    text-align: center;
  }
  .blog-post--info{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;


    span{
      display:inline-block;

      text-align: center;
      margin: 3px;
      padding: 3px 10px;
      border-top:2px dashed #000;

    }

  }




}

